// Here you can add other styles

:root {
  /* make CCard's header background color available to other components, ie table header background */
  --cui-card-cap-bg: #{$card-cap-bg};
}
.d-dev-block,
.d-dev-inline,
.d-dev-flex {
  display: none;
}
.dev .d-dev-block {
  display: block;
}
.dev .d-dev-inline {
  display: inline;
}
.dev .d-dev-flex {
  display: flex;
}
.dev .footer,
.dev .sidebar {
  color: white;
  background-color: darkred;
}
.dev .footer a {
  color: lightskyblue;
}

.nav-link {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
